input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-size: 14px;
  min-width: 280px; 
  max-width: 280px; 
  padding: 1rem;   
  box-sizing: border-box;
}


.preset-card.selected {
  border-color: #EB99A1;
  background: #eb99a11f;
}



/* Toggle slider*/
.toggle {
  position: relative;
  display: inline-block;
  width: 42.5px;
  height: 22px;
  flex-shrink: 0;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #40363a;
  border-radius: 22px;
  transition: background-color 0.25s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 17px;
  width: 17px;
  left: 2.5px;
  top: 2.5px;
  background-color: #d9d8dc;
  border-radius: 50%;
  transition: transform 0.25s;
}

.toggle input:checked + .slider {
  background-color: #EB99A1;
}

.toggle input:checked + .slider::before {
  transform: translateX(20.4px);
}

.toggle-text{
  line-height: 1.0
}

/* Disabled base */
.toggle input:disabled + .slider {
  opacity: 0.45;              
  cursor: not-allowed;
}

/* Muted Slider */
.toggle input:checked:disabled + .slider {
  background-color: #EB99A1;
  opacity: 0.45;
}

/* Muted knob */
.toggle input:disabled + .slider::before {
  background-color: #d9d8dc;
  opacity: 0.6;
}

/* Fade label text */
.toggle-row input:disabled ~ .toggle-text {
  opacity: 0.45;
}

/* Disable pointer on entire row */
.toggle-row input:disabled {
  cursor: not-allowed;
}

