input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-size: 14px;
  min-width: 265px; 
  max-width: 265px; 
  padding: 1rem;   
  box-sizing: border-box;
}



/* Toggle slider*/
.toggle {
  position: relative;
  display: inline-block;
  width: 42.5px;
  height: 22px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #40363a;
  border-radius: 22px;
  transition: background-color 0.25s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 17px;
  width: 17px;
  left: 2.5px;
  top: 2.5px;
  background-color: #d9d8dc;
  border-radius: 50%;
  transition: transform 0.25s;
}

.toggle input:checked + .slider {
  background-color: #EB99A1;
}

.toggle input:checked + .slider::before {
  transform: translateX(20.4px);
}
















/* --------------pre-tailwind ---------------*/

/* 
body {
    min-width: 265px; 
    max-width: 400px; 
    padding: 1rem;   
    box-sizing: border-box;
} */

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
}

.center {
  display: block;
  margin: 0 auto;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-card {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.step-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.step-field {
  display: flex;
  flex-direction: column;
}

.step-field small {
  opacity: 0.7;
  font-size: 0.75rem;
  margin-top: 0.15rem;
} */



/* Toglle slider */
/* .toggle-row {
  display: flex;
  align-items: center;
  gap: 0.64rem;
  cursor: pointer;
  margin-top: 0.85rem;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 42.5px;
  height: 22px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #40363a;
  border-radius: 22px;
  transition: background-color 0.25s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 17px;
  width: 17px;
  left: 2.5px;
  top: 2.5px;
  background-color: #d9d8dc;
  border-radius: 50%;
  transition: transform 0.25s;
}

.toggle input:checked + .slider {
  background-color: #EB99A1;
}

.toggle input:checked + .slider::before {
  transform: translateX(20.4px);
} */



/* Tabs */
/* .tabs {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.tab-btn {
    flex: 1;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    background-color: #40363a;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.tab-btn.active {
    background-color: #EB99A1;
}

.tab-content {
    padding-top: 0.5rem;
} 
*/
