body {
    min-width: 265px; /* your desired minimum width */
    max-width: 400px; /* optional maximum */
    padding: 1rem;    /* optional spacing */
    box-sizing: border-box;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.center {
  display: block;
  margin: 0 auto;
}



/* Toglle slider */
.toggle-row {
  display: flex;
  align-items: center;
  gap: 0.64rem;
  cursor: pointer;
  margin-top: 0.85rem;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 42.5px;
  height: 22px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #40363a;
  border-radius: 22px;
  transition: background-color 0.25s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 17px;
  width: 17px;
  left: 2.5px;
  top: 2.5px;
  background-color: #d9d8dc;
  border-radius: 50%;
  transition: transform 0.25s;
}

.toggle input:checked + .slider {
  background-color: #EB99A1;
}

.toggle input:checked + .slider::before {
  transform: translateX(20.4px);
}



/* Tabs */
.tabs {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.tab-btn {
    flex: 1;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    background-color: #40363a;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.tab-btn.active {
    background-color: #EB99A1;
}

.tab-content {
    padding-top: 0.5rem;
}
